<p>
    <%= params['id'] %>
</p>

<p>
    <%= params %>
</p>

<h1>File Upload</h1>

<%= form_tag({:action => :upload}, :multipart => true) do %>
    <p><label for="upload_file">Select File</label> : 
    <%= file_field 'upload', 'datafile' %></p>
    <%= submit_tag "Upload" %>
<% end %>